<fieldset class="field_answer">
  <div class="attachment fields">
    <div class="row">
      <div class="col-md-7">
        <%= f.text_field :content , class: "form-control"%>
      </div>
      <div class="col-md-1 cb-answer">
        <%= f.check_box :is_correct , id: "answer", class: "BOOLEAN"%>
      </div>
      <div>
        <%= link_to_remove_fields raw("<span class='glyphicon glyphicon-trash
          text-danger'></span>"), f%>
      </div>
    </div>
    <br />
  </div>
</fieldset>
