@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;
$title: lightblue;

* {
  margin: 0;
  padding: 0;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  li {
    line-height: 30px;
  }
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/***************** SIDEBAR *****************/
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/****************** FORMS ******************/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/************* USER'S HOMEPAGE *************/
.homepage {
  .user_info {
    h2 {
      font-weight: bold;
      font-size: 25px;
      text-align: left;
      line-height: 25px;
      margin: 18px;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .learn_info_abstract {
    padding-top: 15px;
  }

  .navbar, .admin_navbar {
    li {
      float: left;
      margin: 30px 20px;
    }
    a {
      padding: 15px 20px;
      border-radius: 5px;
      background: lightpink;
      font: 20px bold Arial, sans-serif;
      &:hover {
        background: lightgreen;
        text-decoration: none;
      }
    }
  }

  .recent_activities {
    border-top: 1px solid black;
    h2 {
      font: 28px Arial, sans-serif;
      font-weight: bold;
      text-align: left;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
    li {
      height: 90px;
      line-height: 90px;
    }
  }
}

/************** USER'S PROFILE *************/
.row {
  .recent_activities {
    li {
      height: 90px;
      line-height: 90px;
    }
    h2 {
      font: 28px Arial, sans-serif;
      font-weight: bold;
      text-align: left;
    }
  }

  .user_info h2 {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    line-height: 25px;
    margin: 18px;
  }
}


/************ MANAGE CATEGORIES ***********/
.cate-index, .cate-edit, .cate-del {
  width: 20px;
}

.cate-created {
  width: 180px;
}

.cate-name {
  width: 250px;
}

table {
  margin-top: 20px;
  tr {
    height: 50px;
    &:hover {
      background: $gray-medium-light;
    }
  }
}

.table-title {
  background: $title;
  height: 30px;
  &:first-child {
    background: $title;
  }
}

.require {
  color: red;
}

/************ MANAGE USERS ***********/
.list-user {
  width: 700px;
  margin: auto;
}

.user-index, .user-del {
  width: 20px;
}

.user-name {
  width: 150px;
}

.user-level {
  width: 90px;
}

.is-admin {
  color: red;
  font-weight: bold;
}

/************ FORMS ***********/
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/************ SHOW CATEGORY PAGE ***********/
.cate-progess {
  width: 150px;
}

.cate-created {
  width: 130px;
}

/************ SHOW LIST USERS ***********/
.list-users {
  height: 60px;
  line-height: 60px;
}

#user-list-users {
  margin-left: 350px;
}

/************ MANAGE WORDS ***********/
.clr {
  clear: both;
}

.box-search {
  .choose-cate {
    margin-left: 300px;
    .categories-search {
      float: left;
      width: 150px;
      margin-right: 20px;
      height: 35px;
    }
    .btn-filter {
      float: left;
      width: 70px;
    }
  }
  .btn-new-word {
    margin: 10px 0 10px 170px;
  }
}

.manage-word {
  width: 800px;
  margin: auto;
}

.title-manage-word {
  height: 20px;
  background: $title;
  width: 700px;
  .index, .edit, .del {
    width: 50px;
  }
  .cate {
    width: 200px;
  }
  .word {
    width: 200px;
  }
}

.manage-word-paginate {
  margin: auto;
  width: 800px;
}

/************ SHOW WORD LIST USER ***********/

.table-word-answer {
  text-align: center;
  width: 700px;
  margin: 10px auto;
  .table-word-answer-title {
    background: $title;
    height: 30px;
    &:first-child {
      background: $title;
    }
    .word-answer-index{
      width: 90px;
      text-align: center;
    }
    .word-answer-word {
      text-align: center;
    }
    .word-answer-answer {
      width: 300px;
      text-align: center;
    }
  }
}

.categories-search{
  height: 34px;
  width: 240px;
}

#label-cate{
  font-size: 30px;
}

.user-filter-word {
  .title {
    margin-right: 20px;
  }
  input {
    width: auto;
  }
}
